.p-top {
    padding-top: 4rem;
}

.m-full {
    margin-top: -80px;
}

.btn-color {
    background: linear-gradient(90deg, rgb(48, 207, 106) 0%, rgb(43, 186, 201) 100%);
}

.footer-color {
    background: red;
    background-color: #2d314e;
}

@media (min-width:991px) {
    .bg-before::before {
        content: '';
        background-image: url('bg-intro-desktop.svg');
        position: absolute;
        top: 0;
        width: 100%;
        max-width: 60%;
        height: 100%;
        z-index: -1;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
    }
}

/* .link-active-before {
    width: max-content;
    height: 100%;
    background: red;
    position: absolute;
    z-index: 1;
} */